datafactory/pipeline/FaildPipeline.json
{
	"name": "FaildPipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "StartFaildPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": false
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "abs_hdinsightsconf",
						"type": "DatasetReference",
						"parameters": {
							"location": "faildlocation"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adl_input",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "somenewfiles"
						}
					}
				]
			},
			{
				"name": "SendFaildMessage",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-55.northeurope.logic.azure.com:443/workflows/7f90d349b54547efaca83e8fcf31d2e0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gi0mIWDWAy5f1hRQTq--KNb2HXFaMb6mUu-GTDPoFnY",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@variables('httpBody')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CopyData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"typeProperties": {
					"variableName": "httpBody",
					"value": {
						"value": "@concat('{\n    \"message\": \"', activity('CopyData').error.message, '\",\n    \"dataFactoryName\": \"', pipeline().DataFactory, '\",\n    \"pipelineName\": \"', pipeline().Pipeline, '\",\n    \"receiver\": \"', pipeline().parameters.receiver, '\"\n}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "StartFaildPipeline",
				"type": "SqlServerStoredProcedure",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_insertIntoLogs]",
					"storedProcedureParameters": {
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"startDate": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "asd_LogADF",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "EndFaildPipeline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyData",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_finishAdf]",
					"storedProcedureParameters": {
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"endDate": {
							"value": {
								"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "asd_LogADF",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "String",
				"defaultValue": "ratomir@live.com"
			}
		},
		"variables": {
			"httpBody": {
				"type": "String"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}