datafactory/pipeline/ForEach.json
{
	"name": "ForEach",
	"properties": {
		"activities": [
			{
				"name": "GetConfig",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "FileSystemSource",
						"recursive": false
					},
					"dataset": {
						"referenceName": "AmazonS3forAzure",
						"type": "DatasetReference",
						"parameters": {
							"location": "config/files.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetConfig').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "Copy_From_AWS",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": false
								},
								"sink": {
									"type": "AzureBlobFSSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AmazonS3forAzure",
									"type": "DatasetReference",
									"parameters": {
										"location": {
											"value": "@concat('forazure/',item().file_name, '.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adlsv2_binaryfile",
									"type": "DatasetReference",
									"parameters": {
										"location": {
											"value": "@concat('input/',item().file_name,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "AWS"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}