adf-conf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-conf"
		},
		"AmazonS3_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'AmazonS3'"
		},
		"abs_conf19_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'abs_conf19'"
		},
		"acd_conf19_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'acd_conf19'"
		},
		"acd_conf19_table_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'acd_conf19_table'"
		},
		"af_conf19_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'af_conf19'"
		},
		"hdinsightsconf_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'hdinsightsconf'"
		},
		"abs_conf19_delete_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "*"
		},
		"abs_conf19_delete_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "@dataset().FolderPath"
		},
		"abs_hdinsightsconf_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().location"
		},
		"abs_hdinsightsconf_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datastore"
		},
		"abs_hdinsightsconf_bulk_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"abs_hdinsightsconf_bulk_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datastore/input"
		},
		"abs_hdinsightsconf_input_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "input/links.csv"
		},
		"abs_hdinsightsconf_input_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datastore"
		},
		"abs_users_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "convertcsv.csv"
		},
		"abs_users_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "users"
		},
		"adl_input_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat(dataset().fileName, '.csv')"
		},
		"adl_input_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datalake/input"
		},
		"adl_input_movies_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "movies.csv"
		},
		"adl_input_movies_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datalake/input"
		},
		"adl_top10_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "top10RelevanceMovies.csv"
		},
		"adl_top10_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datalake/input"
		},
		"adl_users_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "users.csv"
		},
		"adl_users_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "user"
		},
		"adlsv2_binaryfile_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().location"
		},
		"adlsv2_binaryfile_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datastore"
		},
		"adlsv2_binatcopy_input_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"adlsv2_binatcopy_input_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "datastore/input"
		},
		"AmazonS3_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAJQ6CVW7RZ7EQMWKQ"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://conf19.vault.azure.net/"
		},
		"adl_conf19_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://conf19.azuredatalakestore.net/webhdfs/v1"
		},
		"adl_conf19_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "d7dedc1c-5e28-4c3b-a173-fe24b1923684"
		},
		"adl_conf19_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "1fca6fdb-1225-4efd-8dcd-1173fe3f4765"
		},
		"adl_conf19_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "rg-conf"
		},
		"adls_hd_conf_19_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://hdinsightsconfv2.dfs.core.windows.net/"
		},
		"asd_LogADF_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "sql-logadf"
		},
		"asd_conf19_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "sql-awadf"
		},
		"ats_conf19_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "asc-conf19"
		},
		"hdinsight_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ratomir"
		},
		"hdinsightclusterv2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ratomir"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BulkCopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BulkCopy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "StartBulkCopyAWS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AmazonS3forAzure",
								"type": "DatasetReference",
								"parameters": {
									"location": "forazure/*"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "adlsv2_binatcopy_input",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LoadData",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "BulkCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "description",
								"value": "Data has been loaded"
							}
						],
						"typeProperties": {
							"scriptPath": "scripts/loadDataFromFiles.hql",
							"getDebugInfo": "None",
							"scriptLinkedService": {
								"referenceName": "adls_hd_conf_19",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "hdinsightclusterv2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Prepare movies",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "LoadData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "description",
								"value": "Movies loaded"
							}
						],
						"typeProperties": {
							"scriptPath": "scripts/prepareMovies.hql",
							"getDebugInfo": "None",
							"scriptLinkedService": {
								"referenceName": "adls_hd_conf_19",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "hdinsightclusterv2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "StartBulkCopyAWS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_insertIntoLogs]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"startDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EndBulkCopy",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Top 10 relevance movies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_finishAdf]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"endDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Execute CopyDataToAnaytics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "EndBulkCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyDataToAnalytics",
								"type": "PipelineReference"
							},
							"parameters": {}
						}
					},
					{
						"name": "Top 10 relevance movies",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "Prepare movies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "description",
								"value": "Top10 movies founded"
							}
						],
						"typeProperties": {
							"scriptPath": "scripts/findTop10ReleavanceTagPerMovie.hql",
							"getDebugInfo": "None",
							"scriptLinkedService": {
								"referenceName": "adls_hd_conf_19",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "hdinsightclusterv2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "AWS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AmazonS3forAzure')]",
				"[concat(variables('factoryId'), '/datasets/adlsv2_binatcopy_input')]",
				"[concat(variables('factoryId'), '/linkedServices/adls_hd_conf_19')]",
				"[concat(variables('factoryId'), '/linkedServices/hdinsightclusterv2')]",
				"[concat(variables('factoryId'), '/linkedServices/asd_LogADF')]",
				"[concat(variables('factoryId'), '/pipelines/CopyDataToAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyAndMergeDataToSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "StartToCopyMergeDataSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE dbo.StageUsers",
								"sqlWriterStoredProcedureName": "[[dbo].[sp_UpdateUsers]",
								"sqlWriterTableType": "StageTbl"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Id": "Id",
									"Name": "Name",
									"Email": "Email",
									"StreetAddress": "StreetAddress",
									"City": "City",
									"Country": "Country"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "abs_users",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ast_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "StartToCopyMergeDataSQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_insertIntoLogs]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"startDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EndCopyMergeDataSQL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Data SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_finishAdf]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"endDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/abs_users')]",
				"[concat(variables('factoryId'), '/datasets/ast_Users')]",
				"[concat(variables('factoryId'), '/linkedServices/asd_LogADF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataToAnalytics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "StartCopyToAnalytics1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_insertIntoLogs]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"startDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EndCopyToAnalytics",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "If Condition2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_finishAdf]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"endDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IfFileExistsMovies",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "StartCopyToAnalytics1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "adlsv2_binaryfile",
								"type": "DatasetReference",
								"parameters": {
									"location": "hive/warehouse/managed/movies.db/fullmovies/base_0000001/000000_0"
								}
							},
							"fieldList": [
								"exists"
							]
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IfFileExistsMovies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('IfFileExistsMovies').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "CopyToAnalytics",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureBlobFSSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureDataLakeStoreSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "adlsv2_binaryfile",
											"type": "DatasetReference",
											"parameters": {
												"location": "hive/warehouse/managed/movies.db/fullmovies/base_0000001/000000_0"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "adl_input",
											"type": "DatasetReference",
											"parameters": {
												"fileName": "movies"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "IfFileExistsTop10RelevanceMovies",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "StartCopyToAnalytics1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "adlsv2_binaryfile",
								"type": "DatasetReference",
								"parameters": {
									"location": "hive/warehouse/managed/movies.db/top10relevancetagpermovie/base_0000001/000000_0"
								}
							},
							"fieldList": [
								"exists"
							]
						}
					},
					{
						"name": "If Condition2",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "IfFileExistsTop10RelevanceMovies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('IfFileExistsTop10RelevanceMovies').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy Data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureBlobFSSource",
											"recursive": true
										},
										"sink": {
											"type": "AzureDataLakeStoreSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "adlsv2_binaryfile",
											"type": "DatasetReference",
											"parameters": {
												"location": "hive/warehouse/managed/movies.db/top10relevancetagpermovie/base_0000001/000000_0"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "adl_input",
											"type": "DatasetReference",
											"parameters": {
												"fileName": "top10RelevanceMovies"
											}
										}
									]
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/asd_LogADF')]",
				"[concat(variables('factoryId'), '/datasets/adlsv2_binaryfile')]",
				"[concat(variables('factoryId'), '/datasets/adl_input')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataToCosmosDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data to CosmosDB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "StartCopyToCosmos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "DocumentDbCollectionSink",
								"nestingSeparator": ".",
								"writeBatchSize": 10000,
								"writeBehavior": "upsert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Prop_0": "movieid",
									"Prop_1": "title",
									"Prop_2": "ratings",
									"Prop_5": "imdblink",
									"Prop_6": "tmdblink"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "adl_input_movies",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "acd_conf19_movies",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "StartCopyToCosmos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_insertIntoLogs]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"startDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EndCopyToCosmos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Data to CosmosDB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_finishAdf]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"endDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adl_input_movies')]",
				"[concat(variables('factoryId'), '/datasets/acd_conf19_movies')]",
				"[concat(variables('factoryId'), '/linkedServices/asd_LogADF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataToTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data to Table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "StartCopyToTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureTableSink",
								"azureTableInsertType": "merge",
								"azureTablePartitionKeyName": "id",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Prop_0": "id",
									"Prop_1": "relevance",
									"Prop_2": "tags",
									"Prop_3": "title"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "adl_top10",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "at_top10RelevanceTagPerMovie",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "StartCopyToTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_insertIntoLogs]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"startDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EndCopyToTable",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Data to Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_finishAdf]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"endDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adl_top10')]",
				"[concat(variables('factoryId'), '/datasets/at_top10RelevanceTagPerMovie')]",
				"[concat(variables('factoryId'), '/linkedServices/asd_LogADF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFileFromAWS3Bucket')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Links",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "loadFile",
								"value": "links.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AmazonS3forAzure",
								"type": "DatasetReference",
								"parameters": {
									"location": "forazure/links.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "abs_hdinsightsconf",
								"type": "DatasetReference",
								"parameters": {
									"location": "input/links.csv"
								}
							}
						]
					},
					{
						"name": "Movies",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "loadFile",
								"value": "movies.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AmazonS3forAzure",
								"type": "DatasetReference",
								"parameters": {
									"location": "forazure/movies.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "abs_hdinsightsconf",
								"type": "DatasetReference",
								"parameters": {
									"location": "input/movies.csv"
								}
							}
						]
					},
					{
						"name": "Genome-scores",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "loadFile",
								"value": "genome-scores.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AmazonS3forAzure",
								"type": "DatasetReference",
								"parameters": {
									"location": "forazure/genome-scores.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "abs_hdinsightsconf",
								"type": "DatasetReference",
								"parameters": {
									"location": "input/genome-scores.csv"
								}
							}
						]
					},
					{
						"name": "Tags",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "loadFile",
								"value": "tags.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AmazonS3forAzure",
								"type": "DatasetReference",
								"parameters": {
									"location": "forazure/tags.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "abs_hdinsightsconf",
								"type": "DatasetReference",
								"parameters": {
									"location": "input/tags.csv"
								}
							}
						]
					},
					{
						"name": "Genome-tags",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "loadFile",
								"value": "genome-tags.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AmazonS3forAzure",
								"type": "DatasetReference",
								"parameters": {
									"location": "forazure/genome-tags.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "abs_hdinsightsconf",
								"type": "DatasetReference",
								"parameters": {
									"location": "input/genome-tags.csv"
								}
							}
						]
					},
					{
						"name": "Ratings",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "loadFile",
								"value": "ratings.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": false
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AmazonS3forAzure",
								"type": "DatasetReference",
								"parameters": {
									"location": "forazure/ratings.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "abs_hdinsightsconf",
								"type": "DatasetReference",
								"parameters": {
									"location": "input/ratings.csv"
								}
							}
						]
					},
					{
						"name": "LoadDataIntoTables",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "Links",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Movies",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Genome-scores",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Tags",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Genome-tags",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Ratings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "scripts/loadDataFromFiles.hql",
							"getDebugInfo": "Always",
							"scriptLinkedService": {
								"referenceName": "abs_conf19",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "hdinsight",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "AWS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AmazonS3forAzure')]",
				"[concat(variables('factoryId'), '/datasets/abs_hdinsightsconf')]",
				"[concat(variables('factoryId'), '/linkedServices/abs_conf19')]",
				"[concat(variables('factoryId'), '/linkedServices/hdinsight')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete files with ADF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Please input a folder path as the parameter for this pipeline, and the pipeline will delete files which were last modified more than 30 days ago under the particular folder path.",
				"activities": [
					{
						"name": "DeleteFiles",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "abs_conf19_delete",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "@pipeline().parameters.FolderPath",
										"type": "Expression"
									}
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "abs_conf19",
									"type": "LinkedServiceReference"
								},
								"path": "deletelogs"
							},
							"enableLogging": true,
							"recursive": true
						}
					}
				],
				"concurrency": 2,
				"parameters": {
					"FolderPath": {
						"type": "String",
						"defaultValue": "/<mycontainer>/<myfolder>/"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/abs_conf19_delete')]",
				"[concat(variables('factoryId'), '/linkedServices/abs_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE dbo.StageUsers;"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"Name": "Name",
									"Email": "Email",
									"StreetAddress": "StreetAddress",
									"City": "City",
									"Country": "Country",
									"Id": "UserId"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "adl_users",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "asd_stageusers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/adl_users')]",
				"[concat(variables('factoryId'), '/datasets/asd_stageusers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FaildPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyData",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "StartFaildPipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": false
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "abs_hdinsightsconf",
								"type": "DatasetReference",
								"parameters": {
									"location": "faildlocation"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "adl_input",
								"type": "DatasetReference",
								"parameters": {
									"fileName": "somenewfiles"
								}
							}
						]
					},
					{
						"name": "SendFaildMessage",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-55.northeurope.logic.azure.com:443/workflows/7f90d349b54547efaca83e8fcf31d2e0/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=gi0mIWDWAy5f1hRQTq--KNb2HXFaMb6mUu-GTDPoFnY",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "@variables('httpBody')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CopyData",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "httpBody",
							"value": {
								"value": "@concat('{\n    \"message\": \"', activity('CopyData').error.message, '\",\n    \"dataFactoryName\": \"', pipeline().DataFactory, '\",\n    \"pipelineName\": \"', pipeline().Pipeline, '\",\n    \"receiver\": \"', pipeline().parameters.receiver, '\"\n}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "StartFaildPipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_insertIntoLogs]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"startDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EndFaildPipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyData",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_finishAdf]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"endDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"receiver": {
						"type": "String",
						"defaultValue": "ratomir@live.com"
					}
				},
				"variables": {
					"httpBody": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/abs_hdinsightsconf')]",
				"[concat(variables('factoryId'), '/datasets/adl_input')]",
				"[concat(variables('factoryId'), '/linkedServices/asd_LogADF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ForEach')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetConfig",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": false
							},
							"dataset": {
								"referenceName": "AmazonS3forAzure",
								"type": "DatasetReference",
								"parameters": {
									"location": "config/files.csv"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetConfig').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 3,
							"activities": [
								{
									"name": "Copy_From_AWS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "FileSystemSource",
											"recursive": false
										},
										"sink": {
											"type": "AzureBlobFSSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "AmazonS3forAzure",
											"type": "DatasetReference",
											"parameters": {
												"location": {
													"value": "@concat('forazure/',item().file_name, '.csv')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "adlsv2_binaryfile",
											"type": "DatasetReference",
											"parameters": {
												"location": {
													"value": "@concat('input/',item().file_name,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "AWS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AmazonS3forAzure')]",
				"[concat(variables('factoryId'), '/datasets/adlsv2_binaryfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestDataFlow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Product_ProductCategory_InnerJoin",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "StartDataFlow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Product_ProductCategory_InnerJoin",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"product": {},
									"productcategory": {},
									"ProductCategorySink": {},
									"SinkToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "StartDataFlow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_insertIntoLogs]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"startDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EndDataFlow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Product_ProductCategory_InnerJoin",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_finishAdf]",
							"storedProcedureParameters": {
								"dataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"endDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy-MM-dd hh:mm:ss')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "asd_LogADF",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "DataFlow"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Product_ProductCategory_InnerJoin')]",
				"[concat(variables('factoryId'), '/linkedServices/asd_LogADF')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AmazonS3forAzure')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AmazonS3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"location": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AmazonS3Object",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "|",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"key": {
						"value": "@dataset().location",
						"type": "Expression"
					},
					"bucketName": "conf19"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AmazonS3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureCosmosTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "acd_conf19_table",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"structure": [
					{
						"name": "id",
						"type": "Int32"
					},
					{
						"name": "relevance",
						"type": "Double"
					},
					{
						"name": "tags",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					}
				],
				"typeProperties": {
					"collectionName": "top10RelevanceTagPerMovie"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/acd_conf19_table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProductCategoryJoin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "abs_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "productjoin",
						"container": "dataflowoutput"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/abs_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/abs_conf19_delete')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your storage store to delete files.",
				"linkedServiceName": {
					"referenceName": "abs_conf19",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FolderPath": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('abs_conf19_delete_properties_typeProperties_fileName')]",
					"folderPath": {
						"value": "[parameters('abs_conf19_delete_properties_typeProperties_folderPath')]",
						"type": "Expression"
					},
					"modifiedDatetimeEnd": {
						"value": "@addminutes(pipeline().TriggerTime, -1)",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/abs_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/abs_hdinsightsconf')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hdinsightsconf",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"location": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": {
						"value": "[parameters('abs_hdinsightsconf_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('abs_hdinsightsconf_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hdinsightsconf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/abs_hdinsightsconf_bulk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hdinsightsconf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('abs_hdinsightsconf_bulk_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('abs_hdinsightsconf_bulk_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hdinsightsconf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/abs_hdinsightsconf_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hdinsightsconf",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('abs_hdinsightsconf_input_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('abs_hdinsightsconf_input_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hdinsightsconf')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/abs_users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "abs_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "StreetAddress",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "|",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('abs_users_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('abs_users_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/abs_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/acd_conf19_movies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "acd_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"structure": [
					{
						"name": "movieid",
						"type": "Int32"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "ratings",
						"type": "Double"
					},
					{
						"name": "imdblink",
						"type": "String"
					},
					{
						"name": "tmdblink",
						"type": "String"
					}
				],
				"typeProperties": {
					"collectionName": "movies"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/acd_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adl_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_conf19",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "|",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "[parameters('adl_input_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('adl_input_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adl_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adl_input_movies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String",
						"description": "movieid"
					},
					{
						"name": "Prop_1",
						"type": "String",
						"description": "movietitle"
					},
					{
						"name": "Prop_2",
						"type": "String",
						"description": "movieratings"
					},
					{
						"name": "Prop_3",
						"type": "String",
						"description": "imdbid"
					},
					{
						"name": "Prop_4",
						"type": "String",
						"description": "tmdbid"
					},
					{
						"name": "Prop_5",
						"type": "String",
						"description": "movieimdblink"
					},
					{
						"name": "Prop_6",
						"type": "String",
						"description": "movietmdblink"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "\n",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('adl_input_movies_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adl_input_movies_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adl_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adl_top10')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "Prop_0",
						"type": "String",
						"description": "movieid"
					},
					{
						"name": "Prop_1",
						"type": "String",
						"description": "relevance"
					},
					{
						"name": "Prop_2",
						"type": "String",
						"description": "tags"
					},
					{
						"name": "Prop_3",
						"type": "String",
						"description": "title"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "\n",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('adl_top10_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adl_top10_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adl_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adl_users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adl_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "StreetAddress",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "|",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('adl_users_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adl_users_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adl_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adlsv2_binaryfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_hd_conf_19",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"location": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"fileName": {
						"value": "[parameters('adlsv2_binaryfile_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('adlsv2_binaryfile_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_hd_conf_19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adlsv2_binatcopy_input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_hd_conf_19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"fileName": "[parameters('adlsv2_binatcopy_input_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adlsv2_binatcopy_input_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_hd_conf_19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adlsv2_delimitedtext')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_hd_conf_19",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"location": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().location",
							"type": "Expression"
						},
						"fileSystem": "datalake"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_hd_conf_19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/asd_stageusers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "asd_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "StreetAddress",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "UserId",
						"type": "Int32"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[StageUsers]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/asd_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ast_ProductWithCategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "asd_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ProductNumber",
						"type": "nvarchar"
					},
					{
						"name": "Color",
						"type": "nvarchar"
					},
					{
						"name": "StandardCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "LastPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Size",
						"type": "nvarchar"
					},
					{
						"name": "Weight",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductModelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SellStartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SellEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DiscontinuedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ThumbNailPhoto",
						"type": "nvarchar"
					},
					{
						"name": "ThumbnailPhotoFileName",
						"type": "nvarchar"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ParentProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PC_Name",
						"type": "nvarchar"
					},
					{
						"name": "PC_ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[ProductWithCategory]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/asd_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ast_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "asd_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "Id",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "Name",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "Email",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "StreetAddress",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "City",
						"type": "String",
						"precision": 255,
						"scale": 255
					},
					{
						"name": "Country",
						"type": "String",
						"precision": 255,
						"scale": 255
					}
				],
				"typeProperties": {
					"tableName": "sourceTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/asd_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ast_product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "asd_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "ProductNumber",
						"type": "nvarchar"
					},
					{
						"name": "Color",
						"type": "nvarchar"
					},
					{
						"name": "StandardCost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ListPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Size",
						"type": "nvarchar"
					},
					{
						"name": "Weight",
						"type": "decimal",
						"precision": 8,
						"scale": 2
					},
					{
						"name": "ProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductModelID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SellStartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SellEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DiscontinuedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ThumbNailPhoto",
						"type": "varbinary"
					},
					{
						"name": "ThumbnailPhotoFileName",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[SalesLT].[Product]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/asd_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ast_productcategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "asd_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ParentProductCategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[SalesLT].[ProductCategory]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/asd_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/at_top10RelevanceTagPerMovie')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ats_conf19",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureTable",
				"structure": [
					{
						"name": "id",
						"type": "Int32"
					},
					{
						"name": "relevance",
						"type": "Double"
					},
					{
						"name": "tags",
						"type": "String"
					},
					{
						"name": "title"
					}
				],
				"typeProperties": {
					"tableName": "top10RelevanceTagPerMovie"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ats_conf19')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AmazonS3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.eu-north-1.amazonaws.com",
					"accessKeyId": "[parameters('AmazonS3_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('AmazonS3_secretAccessKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/abs_conf19')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('abs_conf19_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/acd_conf19')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('acd_conf19_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/acd_conf19_table')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('acd_conf19_table_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adl_conf19')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('adl_conf19_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('adl_conf19_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('adl_conf19_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('adl_conf19_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_hd_conf_19')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_hd_conf_19_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "adlshdconf19"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/af_conf19')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://supernewfunction56.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('af_conf19_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/asd_LogADF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('asd_LogADF_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/asd_conf19')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('asd_conf19_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ats_conf19')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ats_conf19_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hdinsight')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://hd-conf-19.azurehdinsight.net",
					"userName": "[parameters('hdinsight_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "hdinsight-password"
					},
					"isEspEnabled": false,
					"fileSystem": "datalake",
					"linkedServiceName": {
						"referenceName": "adls_hd_conf_19",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_hd_conf_19')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hdinsightclusterv2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsight",
				"typeProperties": {
					"clusterUri": "https://hd-conf-19v2.azurehdinsight.net",
					"userName": "[parameters('hdinsightclusterv2_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "hdinsight-password"
					},
					"isEspEnabled": false,
					"fileSystem": "hivequeryjobs",
					"linkedServiceName": {
						"referenceName": "adls_hd_conf_19",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_hd_conf_19')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hdinsightsconf')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('hdinsightsconf_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Product_ProductCategory_InnerJoin')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ast_product",
								"type": "DatasetReference"
							},
							"name": "product"
						},
						{
							"dataset": {
								"referenceName": "ast_productcategory",
								"type": "DatasetReference"
							},
							"name": "productcategory"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ProductCategoryJoin",
								"type": "DatasetReference"
							},
							"name": "ProductCategorySink"
						},
						{
							"dataset": {
								"referenceName": "ast_ProductWithCategory",
								"type": "DatasetReference"
							},
							"name": "SinkToSQL"
						}
					],
					"transformations": [
						{
							"name": "JoinProduct"
						},
						{
							"name": "SortJoin"
						},
						{
							"name": "Filter1"
						}
					],
					"script": "source(output(\n\t\tProductID as integer,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(19,4),\n\t\tListPrice as decimal(19,4),\n\t\tSize as string,\n\t\tWeight as decimal(8,2),\n\t\tProductCategoryID as integer,\n\t\tProductModelID as integer,\n\t\tSellStartDate as timestamp,\n\t\tSellEndDate as timestamp,\n\t\tDiscontinuedDate as timestamp,\n\t\tThumbNailPhoto as binary,\n\t\tThumbnailPhotoFileName as string,\n\t\trowguid as string,\n\t\tModifiedDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> product\nsource(output(\n\t\tProductCategoryID as integer,\n\t\tParentProductCategoryID as integer,\n\t\tName as string,\n\t\trowguid as string,\n\t\tModifiedDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> productcategory\nproduct, productcategory join(product@ProductCategoryID == productcategory@ProductCategoryID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> JoinProduct\nJoinProduct sort(desc(ProductModelID, true)) ~> SortJoin\nSortJoin filter(StandardCost > 1000) ~> Filter1\nFilter1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tmapColumn(\n\t\tProductID,\n\t\tName = product@Name,\n\t\tProductNumber,\n\t\tColor,\n\t\tStandardCost,\n\t\tListPrice,\n\t\tSize,\n\t\tWeight,\n\t\tProductCategoryID = product@ProductCategoryID,\n\t\tProductModelID,\n\t\tSellStartDate,\n\t\tSellEndDate,\n\t\tDiscontinuedDate,\n\t\tThumbNailPhoto,\n\t\tThumbnailPhotoFileName,\n\t\tModifiedDate = product@ModifiedDate,\n\t\tParentProductCategoryID,\n\t\tPC_Name = productcategory@Name,\n\t\tPC_ModifiedDate = productcategory@ModifiedDate\n\t)) ~> ProductCategorySink\nFilter1 sink(input(\n\t\tId as integer,\n\t\tProductID as integer,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(19,4),\n\t\tLastPrice as decimal(19,4),\n\t\tSize as string,\n\t\tWeight as double,\n\t\tProductCategoryID as integer,\n\t\tProductModelID as integer,\n\t\tSellStartDate as timestamp,\n\t\tSellEndDate as timestamp,\n\t\tDiscontinuedDate as timestamp,\n\t\tThumbNailPhoto as string,\n\t\tThumbnailPhotoFileName as string,\n\t\tModifiedDate as timestamp,\n\t\tParentProductCategoryID as integer,\n\t\tPC_Name as string,\n\t\tPC_ModifiedDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tProductID,\n\t\tName = product@Name,\n\t\tProductNumber,\n\t\tColor,\n\t\tStandardCost,\n\t\tLastPrice = ListPrice,\n\t\tSize,\n\t\tWeight,\n\t\tProductCategoryID = product@ProductCategoryID,\n\t\tProductModelID,\n\t\tSellStartDate,\n\t\tSellEndDate,\n\t\tDiscontinuedDate,\n\t\tThumbnailPhotoFileName,\n\t\tModifiedDate = product@ModifiedDate,\n\t\tParentProductCategoryID,\n\t\tPC_Name = productcategory@Name,\n\t\tPC_ModifiedDate = productcategory@ModifiedDate\n\t)) ~> SinkToSQL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ast_product')]",
				"[concat(variables('factoryId'), '/datasets/ast_productcategory')]",
				"[concat(variables('factoryId'), '/datasets/ProductCategoryJoin')]",
				"[concat(variables('factoryId'), '/datasets/ast_ProductWithCategory')]"
			]
		}
	]
}